<ion-header>
    <ion-toolbar>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-avatar (click)="selectImageSource()" class="profile-pic">
        <ion-img [src]="myProfileImage"></ion-img>
    </ion-avatar>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Your Profile Picture</ion-card-title>

        </ion-card-header>
        <ion-card-content>
            Click on the circle above to add your profile picture, then click on the button next to it to share your new profile picture!
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button (click)="share()">
                <ion-icon color="dark" name="share"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
